.cta-section {
  background-image: linear-gradient(90deg, #4f39f6, #9514fa);
  justify-content: center;
  padding-top: 120px;
  padding-bottom: 120px;
  display: flex;
}

.cta-ontainerc {
  flex-flow: column;
  flex: 1;
  justify-content: flex-start;
  align-items: center;
  max-width: 1200px;
  margin-left: 40px;
  margin-right: 40px;
  display: flex;
}

.cta-heading {
  color: #fff;
  text-align: center;
  font-size: 40px;
  font-weight: 700;
  line-height: 48px;
}

.cta-paragraph {
  color: #fff;
  text-align: center;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}

.cta-pera-01 {
  max-width: 550px;
  margin-top: 16px;
  margin-bottom: 40px;
}

.cta-paragraph-02 {
  color: #fffc;
  text-align: center;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}

.cta-uttonsb {
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  margin-bottom: 16px;
  display: flex;
}

.cta-button-01 {
  color: #000;
  text-align: center;
  background-color: #fff;
  border-radius: 100px;
  padding: 15px 16px;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
}

.cta-button-01._02 {
  color: #fff;
  background-color: #0000;
  border: 1px solid #fff;
}

@media screen and (max-width: 991px) {
  .cta-button-01 {
    text-align: center;
  }
}

@media screen and (max-width: 767px) {
  .cta-section {
    padding-top: 60px;
    padding-bottom: 60px;
  }

  .cta-ontainerc {
    margin-left: 20px;
    margin-right: 20px;
  }
}

@media screen and (max-width: 479px) {
  .cta-section {
    padding-top: 40px;
  }

  .cta-ontainerc {
    margin-left: 10px;
    margin-right: 10px;
  }

  .cta-pera-01 {
    margin-bottom: 24px;
  }

  .cta-uttonsb {
    flex-flow: column;
  }
}
