.product-card {
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  border: 1px solid #f2f2f2;
  border-radius: 16px;
  flex-flow: column;
  max-width: 380px;
  padding: 24px;
  display: flex;
  position: relative;
}

.product-card-iamge {
  max-width: 60px;
  height: 60px;
}

.product-image {
  object-fit: cover;
  width: 99.974%;
  height: 98.958%;
  border-radius: 8px;
}

.pro-heading {
  color: #101727;
  font-size: 24px;
  font-weight: 700;
  line-height: 32px;
}

.pro-desc {
  color: #627382;
  font-size: 16px;
  line-height: 24px;
}

.pro-money {
  color: #101727;
  font-size: 24px;
  font-weight: 700;
  line-height: 32px;
}

.product-money {
  justify-content: flex-start;
  align-items: flex-end;
  display: flex;
}

.product-time {
  color: #627382;
  position: relative;
  top: -3px;
}

.main-feature {
  grid-column-gap: 8px;
  grid-row-gap: 8px;
  justify-content: flex-start;
  align-items: center;
  display: flex;
}

.check {
  width: 20px;
}

.product-feature {
  grid-column-gap: 8px;
  grid-row-gap: 8px;
  flex-flow: column;
  display: flex;
}

.product-button {
  margin-top: 16px;
  display: flex;
}

.button {
  color: #fff;
  text-align: center;
  background-image: linear-gradient(108deg, #4f39f6, #9514fa);
  border-radius: 100px;
  flex: 1;
  padding-top: 15px;
  padding-bottom: 15px;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
}

.product-tag {
  color: #4f39f6;
  text-align: center;
  background-color: #e1e7ff;
  border-radius: 100px;
  padding: 6px 12px;
  position: absolute;
  inset: 24px 24px auto auto;
}
